<div id="queso_results">
  <% if @results.present? %>
  <div>
    Found <%= @total %> <%= @query.klass.name.pluralize %>.
  </div>
  <table>
    <thead>
      <tr>
        <% @query.headers.each do |name| %>
        <th>
          <%= name.humanize %>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |result, idx| %>
        <tr class="<%= stripe_class(idx) %>">
          <% column_values(@query, result).each do |value| %>
            <td><%= formatted(value) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
