<tr id="term-<%= @term_counter %>">
  <td><%= h @term.attribute %></td>
  <td><%= h @term.operator %></td>
  <td><%= h @term.value %></td>
  <td>
    <%= link_to_remote 'X', 
      { :url => "/queso_searches/#{@query.model_name}/rm_term?term_idx=#{@term_counter}" },
      { :method => :delete } -%>
  </td>
</tr>  