<% if @results.present? %>
  <div>
    Found <%= @total %> <%= @query.klass.name.pluralize %>.
  </div>
  <table class="results">
    <thead>
      <tr>
        <% @query.headers.each do |name| %>
        <th>
          <%= name %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |result, idx| %>
        <tr class="<%= stripe_class(idx) %>">
          <% column_values(@query, result) do |value| -%>
            <td><%= formatted(value) %></td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>
